/*rgb(25, 21, 29)  rgb(224,211,211)*/

* {
  -webkit-tap-highlight-color: transparent;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: rgb(25, 21, 29);
  --font-family: 'Orbitron', sans-serif;
}
body {
  background-color: var(--bg-color);
}
.extra-space {
  margin-left: 10px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  font-family: var(--font-family);
  font-size: 35px;
  color: rgb(146, 158, 146);
  margin-top: 100px;
}
.text-place {
  background-color: rgba(215, 231, 215, 0.8);
  margin-bottom: 15px;
  padding: 15px 30px;
  height: 50px;
  width: 400px;
  border-radius: 50px;
  font-size: 20px;
  font-family: var(--font-family);
  outline-style: none;
}

.grid-1 {
  margin-bottom: 10px;
}
.grid-2 {
  margin-bottom: 10px;
}
.grid-3 {
  margin-bottom: 10px;
}



.number {
  background-color: rgba(146, 158, 146, 0.8);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  font-family: var(--font-family);
  transition: background-color .2s ease-in-out;
}
.number:hover {
  background-color: whitesmoke;
}

.calculation {
  background-color: rgba(224, 145, 17, 0.8);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: var(--font-family);
  transition: background-color .2s ease-in-out;
}
.calculation:hover {
  background-color: whitesmoke;
}


.container {
  width: 100%;
  background: rgb(25, 21, 29);
}

.copy {
  font-family: 'Orbitron', sans-serif;
  margin: 30px;
  color: white;
  transition: color .5s var(--trans-timing);
}


@media (max-width: 500px) {
  .calculation {
    height: 70px;
    width: 70px;
  }
  .number {
    height: 70px;
    width: 70px;
  }
  .text-place {
    height: 40px;
    width: 340px;
    font-size: 14px;
  }
  .head {
    font-size: 30px;
  }
  .copy {
    font-size: 15px;
    position: absolute;
    bottom: 0;
  }
}